* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "Lobster", cursive;
}
.span1 {
  color: red;
}

.container {
  background-color: rgb(62, 62, 62);
  text-align: center;
  margin: 30px 20px 3px 20px;
  border-radius: 15px;
  padding-bottom: 35px;
}
.img1 {
  margin-top: 30px;
  width: 225px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 5px 5px 500px red;
}
.article1 p {
  text-align: justify;
  margin: 15px 150px;
}

.div1 {
  margin-left: 150px;
}

.div1 h2 {
  font-family: "Lobster", cursive;
  text-align: left;
  color: red;
}

.div1 ul {
  margin-top: 15px;
  text-align: left;
  color: white;
  padding-left: 13px;
}

.div2 {
  margin-top: 40px;
  
  font-size: 20px;
}

.div2 p a {
  text-decoration: none;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  color: white;
}

.div2 p a:hover {
  background-color: rgb(62, 62, 62);
  color: red;
}
figcaption {
  color: white;
  font-size: 0.8em;
}
